<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Todo app</title>
<link rel="stylesheet" href="css/add.css"/>
</head>

<body>
    <div class="container">
        <div th:if="${validationError}" th:each="error : ${validationError}">
            <label class="text-danger" th:text="${error}"></label>
        </div>
        <h1>タスク新規登録</h1>
        <div class="inputArea">
			<form th:action="@{/add}" enctype="multipart/form-data" th:object="${taskAddRequest}" th:method="post">
            <div class="form-group">
                <label>タスク名</label>
                <input type="text" th:field="*{title}" class="taskName" required="required">
            </div>
            <div class="form-group">
                <label>内容</label>
                <input type="text" th:field="*{contents}" class="contentName" required="required">
            </div>
            <div>
				<label for="imageFile">画像</label>
				<input type="file" th:field="*{multipartFile}" multiple class="imgBox"　required="required">
			</div>
            <br />
            <div class="text-center">
                <input type="submit" value="登録" class="btn btn-primary">
                <a href="/index" class="btn btn-secondary">キャンセル</a>
            </div>
        </form>
		</div>
        
    </div>
</body>
</html>