<!DOCTYPE html>
<html>
<!--
<head th:replace="common/head :: head_fragment(title = 'ユーザー情報編集', scripts = ~{::script}, links = ~{::link})"></head>
-->
<head>
<meta charset="UTF-8">
<title>Edit Task</title>
<link rel="stylesheet" th:href="@{/css/edit.css}"/>
</head>
<body>
	<form th:action="@{/task/update}" enctype="multipart/form-data" th:object="${taskUpdateRequest}"
            th:method="post">
    <input type="hidden" th:field="*{id}" />
	<div class="input_box">
		<p>新しいタイトルを入れてください</p><br>
		<input type="text" class="form-control" th:field="*{title}">
		<p>新しいコンテンツを入れてください</p><br>
		<input type="text" class="form-control" th:field="*{contents}"><br><br>
		<label for="imageFile">新しい画像を選択してください</label>
		<p><input type="file" th:field="*{multipartFile}" multiple></p>
	</div>

	<div class="buttons">
		<input type="submit" class="save_btn" value="保存">
        <a href="/index" class="cancel_btn">キャンセル</a>
	</div>
	</form>
</body>
</html>