<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	* {
		background-color: pink;
	}
	
	h1 {
		text-align: center;
	}
	
	input {
		text-align: center;
		border: 1px solid blue;
	}
	
	.input_content {
		text-align: center;
		font-size: 25px;
	}
	
	a {
		font-size: 10px;
	}
</style>
</head>
<body>
	<div th:if="${passwordError}">
    	<h1 th:text="${passwordError}"></h1>
    </div>
    <div th:unless="${passwordError}">
		<h1>サインアップ</h1>
	</div>
	<form th:action="@{/top}" th:object="${userLoginRequest}" th:method="post">
        <div class="input_content">
			<label>ユーザーID</label>
			<input type="text" name="user_id" ></input>
			<label>パスワード</label>
			<input type="password" name="password"></input>
			<label>確認パスワード</label>
			<input type="password" name="passwordd"></input>
			<input type="submit" value="登録" class="btn btn-primary"></input>
			<a href="/top">キャンセル</a>
		</div>
    </form>
</body>
</html>