<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Todo app</title>
<link rel="stylesheet" href="css/taskListDisplay.css"/>
</head>
<header>タスク管理アプリ</header>
<body>
	<div class="container" th:if="${tasklist}">
		<div th:each="task : ${tasklist}" th:object="${task}" class="align-middle">
		<div class="content">
			<p class="titleName">タイトル</p><br>
			<p th:text="*{title}"></p><br>
			<p class="contentName">内容</p>
			<p th:text="*{contents}"></p><br>
			<img th:src="*{imgPath}" class="taskImage">
			<a th:href="@{/task/{id}/edit(id=*{id})}" class="btn btn-primary">編集</a>
			<a th:href="@{/task/{id}/delete(id=*{id})}" class="btn btn-primary">削除</a>
		</div>
	</div>
</body>
<footer>
	<form class="buttons">
		<button class="create_button"><a href="/add">タスクの作成</a></button>
		<button class="delete_button"><a href="/delete">全タスク削除</a></button>
		<button class="logout_button"><a href="/logout">ログアウト</a></button>
	</form>
</footer>
</html>

