@charset "UTF-8";

* {
	background-color: pink;
}

.input_box {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.input_box input {
	border: 1px solid blue;
}

.buttons {
	display: flex;
	justify-content: center;
	font-size: 30px;
	padding: 20px;
}

.buttons input {
	margin-right: 20px;
}